# Imports and reading data

In [1]:
import numpy as np 
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv("elections.csv")

C:\Users\hayk_\AppData\Local\Temp\ipykernel_24804\1092559478.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("elections.csv")

# Filtering by age

In [3]:
df

# arandznacnel 87 - 94 taretvery
# qaxaqneri bnakcutunner
# qaxaqneri bnak yst tarva
def get_tari_from_or_amis_tari(t):
    return t[-4:]

df["tari"] = df["or_amis_tari"].apply(get_tari_from_or_amis_tari).astype(int)

df_poqr = df.head()


df_poqr["taretiv"] = pd.

(df_poqr["or_amis_tari"])
# df[df["tari"] > 1987 1994)]
# df.query("tari > 1987")
df_poqr

SyntaxError: invalid syntax (585997989.py, line 14)

In [4]:
df_poqr["taretiv"].dt.year > 1970

NameError: name 'df_poqr' is not defined

# City populations

In [11]:
marz = df["marz"][df.marz != "ԵՐԵՎԱՆ"].value_counts()

In [15]:
marz

marz
ԿՈՏԱՅՔ         241527
ԱՐՄԱՎԻՐ        234806
ԼՈՌԻ           233460
ՇԻՐԱԿ          226586
ԱՐԱՐԱՏ         222860
ԳԵՂԱՐՔՈՒՆԻՔ    186895
ԱՐԱԳԱԾՈՏՆ      117397
ՏԱՎՈՒՇ         106795
ՍՅՈՒՆԻՔ        105009
ՎԱՅՈՑ ՁՈՐ       45676
Name: count, dtype: int64

In [10]:
df[df.marz != "ԵՐԵՎԱՆ"].value_counts()

,azganun,anun,haeranun,or_amis_tari,marz,hamaenq,bnakavaer,hasce,taracq,texamas
0,Հարությունյան,Կարեն,Շաքարի,14/11/1997,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01
1,Աղաջանյան,Կարինե,Ժորայի,14/08/1964,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01
2,Հարությունյան,Հարություն,Շաքարի,29/10/1986,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01
3,Ալեքսանյան,Համեստ,Արսենի,24/10/1954,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 26 71,28,28/01
4,Հարությունյան,Շաքար,Արտաշի,01/01/1959,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01
...,...,...,...,...,...,...,...,...,...,...
2577168,Շահվերդյան,Ալա,Աղասու,22/04/1987,ԼՈՌԻ,ՎԱՆԱՁՈՐ,NaN,1 Փ. 5 Փկղ. 8,23,23/58
2577169,Իսրաելյան,Կարինե,Վահանի,13/03/1960,ԼՈՌԻ,ԴԵԲԵԴ,NaN,6 Փ. 5,23,23/58
2577170,Գրիգորյան,Անահիտ,Հունանի,12/05/1970,ԼՈՌԻ,ՎԱՆԱՁՈՐ,NaN,Արճիս 5 Փ. 7 1,23,23/58
2577171,Սահակյան,Նարինե,Աշոտի,25/09/1978,ԼՈՌԻ,ՎԱՆԱՁՈՐ,NaN,Կ. Դեմիրճյան Փ. 26 22,23,23/58
2577172,Մկրտչյան,Գայանե,Գարուշի,24/04/1966,ԼՈՌԻ,ՎԱՆԱՁՈՐ,NaN,Տարոն 3 Քշհ 7 48 7,23,23/58

In [14]:
df

,azganun,anun,haeranun,or_amis_tari,marz,hamaenq,bnakavaer,hasce,taracq,texamas
0,Հարությունյան,Կարեն,Շաքարի,14/11/1997,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01
1,Աղաջանյան,Կարինե,Ժորայի,14/08/1964,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01
2,Հարությունյան,Հարություն,Շաքարի,29/10/1986,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01
3,Ալեքսանյան,Համեստ,Արսենի,24/10/1954,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 26 71,28,28/01
4,Հարությունյան,Շաքար,Արտաշի,01/01/1959,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01
...,...,...,...,...,...,...,...,...,...,...
2577168,Շահվերդյան,Ալա,Աղասու,22/04/1987,ԼՈՌԻ,ՎԱՆԱՁՈՐ,NaN,1 Փ. 5 Փկղ. 8,23,23/58
2577169,Իսրաելյան,Կարինե,Վահանի,13/03/1960,ԼՈՌԻ,ԴԵԲԵԴ,NaN,6 Փ. 5,23,23/58
2577170,Գրիգորյան,Անահիտ,Հունանի,12/05/1970,ԼՈՌԻ,ՎԱՆԱՁՈՐ,NaN,Արճիս 5 Փ. 7 1,23,23/58
2577171,Սահակյան,Նարինե,Աշոտի,25/09/1978,ԼՈՌԻ,ՎԱՆԱՁՈՐ,NaN,Կ. Դեմիրճյան Փ. 26 22,23,23/58
2577172,Մկրտչյան,Գայանե,Գարուշի,24/04/1966,ԼՈՌԻ,ՎԱՆԱՁՈՐ,NaN,Տարոն 3 Քշհ 7 48 7,23,23/58

In [23]:
df

,azganun,anun,haeranun,or_amis_tari,marz,hamaenq,bnakavaer,hasce,taracq,texamas
0,Հարությունյան,Կարեն,Շաքարի,14/11/1997,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01
1,Աղաջանյան,Կարինե,Ժորայի,14/08/1964,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01
2,Հարությունյան,Հարություն,Շաքարի,29/10/1986,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01
3,Ալեքսանյան,Համեստ,Արսենի,24/10/1954,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 26 71,28,28/01
4,Հարությունյան,Շաքար,Արտաշի,01/01/1959,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01
...,...,...,...,...,...,...,...,...,...,...
2577168,Շահվերդյան,Ալա,Աղասու,22/04/1987,ԼՈՌԻ,ՎԱՆԱՁՈՐ,NaN,1 Փ. 5 Փկղ. 8,23,23/58
2577169,Իսրաելյան,Կարինե,Վահանի,13/03/1960,ԼՈՌԻ,ԴԵԲԵԴ,NaN,6 Փ. 5,23,23/58
2577170,Գրիգորյան,Անահիտ,Հունանի,12/05/1970,ԼՈՌԻ,ՎԱՆԱՁՈՐ,NaN,Արճիս 5 Փ. 7 1,23,23/58
2577171,Սահակյան,Նարինե,Աշոտի,25/09/1978,ԼՈՌԻ,ՎԱՆԱՁՈՐ,NaN,Կ. Դեմիրճյան Փ. 26 22,23,23/58
2577172,Մկրտչյան,Գայանե,Գարուշի,24/04/1966,ԼՈՌԻ,ՎԱՆԱՁՈՐ,NaN,Տարոն 3 Քշհ 7 48 7,23,23/58

In [7]:
fig = px.bar(df, "marz")

fig.write_html("marz.html")

In [ ]:
Explorarite