In [2]:
import numpy as np 
import pandas as pd
import plotly.express as px

In [3]:
df = pd.read_csv("elections.csv")

C:\Users\hayk_\AppData\Local\Temp\ipykernel_20632\1092559478.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("elections.csv")

In [24]:
df
# arandznacnel 87 - 94 taretvery
# qaxaqneri bnakcutunner
# qaxaqneri bnak yst tarva
def get_tari_from_or_amis_tari(t):
    return t[-4:]

df["tari"] = df["or_amis_tari"].apply(get_tari_from_or_amis_tari).astype(int)

df_poqr = df.head()
df_poqr["taretiv"] = pd.to_datetime(df_poqr["or_amis_tari"])
# df[df["tari"] > 1987 1994)]
# df.query("tari > 1987")
df_poqr

C:\Users\hayk_\AppData\Local\Temp\ipykernel_20632\3538451597.py:11: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_poqr["taretiv"] = pd.to_datetime(df_poqr["or_amis_tari"])
C:\Users\hayk_\AppData\Local\Temp\ipykernel_20632\3538451597.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_poqr["taretiv"] = pd.to_datetime(df_poqr["or_amis_tari"])

,azganun,anun,haeranun,or_amis_tari,marz,hamaenq,bnakavaer,hasce,taracq,texamas,tari,taretiv
0,Հարությունյան,Կարեն,Շաքարի,14/11/1997,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01,1997,1997-11-14
1,Աղաջանյան,Կարինե,Ժորայի,14/08/1964,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01,1964,1964-08-14
2,Հարությունյան,Հարություն,Շաքարի,29/10/1986,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01,1986,1986-10-29
3,Ալեքսանյան,Համեստ,Արսենի,24/10/1954,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 26 71,28,28/01,1954,1954-10-24
4,Հարությունյան,Շաքար,Արտաշի,01/01/1959,ԿՈՏԱՅՔ,ՆՈՐ ՀԱՃՆ,NaN,Չարենցի Փ. 31 1,28,28/01,1959,1959-01-01

In [31]:
df_poqr["taretiv"].dt.year > 1970

0     True
1    False
2     True
3    False
4    False
Name: taretiv, dtype: bool